@import './utils/utils';

// @import './base/base';

// @import './components/components';

// @import './layout/layout';



.tasks-list__number {
    font-family: 'SFProDisplay', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200px;
}

.copyright {
    font-family: 'Open Sans', sans-serif; 
}