:root {
    --white-color--:#FFFFFF;
    --black-color--:#000000;
    --secondary-background-color--:#FBFBFB;
    --third-background-color--:#F9F9F9;
    --footer-background-color--:#2C2C2C;
    --form-background-color--:#F3F3F3;
    --image-background-color--:#C4C4C4;
    --primary-text-color--:#333333;
    --section-title-color--:#BDBDBD;
    --form-placeholder-color--:#666666;
    --copyright-text-color--:rgba(200, 200, 200, 0.5);
    --accent-color-focus--:#F2F2F2;
    --slash-color--:#E0E0E0;
    --copyright-line-color--:#D8D8D8;

    // --secondary-text-color--:#212121;
    // --white-color-footer-link--:rgba(255, 255, 255, 0.6);
    // --hero-footer-background-color--:#2F303A;
    // --border-header-color--:#ECECEC;
    // --accent-color-focus--:#188CE8;
    // --cards-border-color--:#EEEEEE;
    // --hero-gradient--: #C4C4C4;
    // --icons-color-main--: #AFB1B8;

    --primary-font-family--: 'TTHoves';
    --secondary-font-family--: 'SFProDisplay';
    --third-font-family--: 'Open Sans', sans-serif;
}